.settings-wrapper
  section
    .section-row(ng-repeat='item in accountInfo')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref='{{item.link}}')
        label.m-gray {{item.title}}
        .content-main {{user[item.content] || driver[item.content]}}
        .next-pointer

  .section-interlude(ng-if='!driver.all_docs_uploaded')
    .b-inter-content Drivers licence, Hack license, and Soc Sec Card are required
    .s-inter-content.m-gray to be added to this car.

  //- section
  //-   .section-row
  //-     title Notification method
  //-   .section-row
  //-     a.row-content(ng-click="toggleSMS()")
  //-       .flex-cell
  //-         .flex
  //-           .flex-cell
  //-             label SMS
  //-           on-off-button(status='driver.sms_enabled')

  section
    .section-row
      title Driver Documents
    .section-row(ng-repeat='item in driverDocuments')
      a.row-content(ng-class='{"has-bar": !$last}', ui-sref='{{item.link}}')
        .flex-column
          label {{item.title}}
          .flex
            .flex-cell
              img.big-image(ng-if='driver[item.image]', ng-src='{{driver[item.image]}}')
              .dashed-box-border(ng-if='!driver[item.image]')
                .box-content
                  .box-text Upload now
            p.ic-blue.next-pointer(ng-if='driver[item.image]') Change
            p.color-red.next-pointer(ng-if='!driver[item.image]') Upload

  button.alert-button(ng-click='logout()') Log out

ic-loading(ng-show='isBusy')
