.settings-wrapper.normal-font.full-height
  .confirm-container.flex-container-column
    .flex-section.confirm-padding
      p.font-1.padding-horizontal-1 We've sent an SMS to your phone
      img.confirm-image(src='/assets/images/text_confirm.png')
      p.font-0-75 Please click the link to continue reserving your
        span.bold-font {{car}}

    a.bold-font.blue-color I haven't received an SMS
