.booking-success

  .black-hero
    h1 Success!

  section.insurance-approval
    p
      | Welcome to all taxi.
      | Your account is complete.
    //- p(ng-if='driver.app_credit!="$0.00"') You have {{driver.app_credit}} app credit to spend on rent.
    br
    button.button(ui-sref='listings') Find your car
