.booking-success

  .black-hero
    h1 Success!

  section.insurance-approval
    p
      | You have created your account!
      | Now you can check out idle cars, we wish you find your ideal car!

    br
    button.button(ui-sref='listings') Car listing
