.settings-wrapper.sms-confirm
  .flex-container-column
    .flex-section
      h3 We've sent an SMS to your phone
      img(src='/assets/images/text_confirm.png')
      p Please click the link to continue reserving your
        span {{car}}

    a I haven't received an SMS
