.faq-container
  h2 Driver questions
  section
    h3 HELP
    p This help screen is disabled
    ul
      li You can uncomment some code and make this screen show up on the navbar and
        | Car details screen
