.sms-confirm
  height: calc(100vh - 3rem)

  .flex-container-column
    height: 100%

    a
      color: $ic_blue

    .flex-section
      padding: 3rem 2rem 0

      h3
        font-weight: $slim_font_weight
        padding: 0 2rem

      p
        font-size: $small_font_size
        font-weight: $slim_font_weight

        span
          font-weight: $bold_font_weight

      img
        height: 10rem
        margin: 1rem auto
