.faq-container
  @extend %gray_theme
  padding: 0.1rem $page_gutter

  h2
    margin-top: 1rem

  section
    margin: 1rem auto
    padding: 0 1rem

    h3, a
      color: $ic_blue

    a
      text-decoration: underline

    .faq-title
      font-weight: $bold_font_weight
      font-size: $large_font_size

  a
    margin-bottom: 1rem
