.booking-success

  .black-hero
    h1 Thank you!

  //- TODO: wording needs to be updated
  section.insurance-approval
    span
      | Your paperwork is being processed.
      | This usually takes 24-48 hours.

  section.arrange-pickup
    span
      | When processing is finished, we will contact you to pick up your car.

  a.button(ui-sref='driverAccount.bookings') Tell us about you
