.bookings-wrapper
  .booking-header(style='padding: 1rem')
    .bold CONTACT THE OWNER
    .light If you need to contact the owner, use the information below
    .flex-row
      .label.bold {{booking.car.owner.name}}
      //- TODO: phone number should be interactive
      a.content.bold.ic-blue {{booking.car.owner.phone_number}}
    .flex-row
      .bold {{booking.car.owner.address}}

  map(address='{{booking.car.zipcode}}', ng-if='booking.car')

ic-loading(ng-show='isBusy')
