.booking-content
  car-image(car='booking.car')

  .content-wording
    section
      car-features
    hr
    section
      booking-date

    button.button(ng-if='insuranceApproved()', ng-disabled='false', ui-sref='.pickup') Contact the owner

booking-cancel
