.booking-content
  .content-wording
    section
      .bold RENTAL IN PROGRESS...
    section
      .tiny.warning If you have any trouble with your car, please contact IdleCars
    section
      a.bold.ic-blue(href='tel:1-844-4353227') 1 (844) IDLE-CARS

  car-image(car='booking.car')

  .content-wording
    section
      car-features
    section
      booking-date
    hr
    .flex-row.bold(ng-if='!booking.next_payment.credit')
      .label Next Payment
      .content ${{booking.next_payment.amount}} #[span.light &nbspon {{booking.next_payment.start_time}}]

    .flex-row(ng-if='booking.next_payment.credit')
      .label.bold Next Payment
      .content.bold {{booking.next_payment.start_time}}
    .flex-row(ng-if='booking.next_payment.credit')
      .label.bold #[span.light &nbsp Rent]
      .content.light &nbsp ${{booking.next_payment.amount + booking.next_payment.credit}}
    .flex-row(ng-if='booking.next_payment.credit')
      .label.bold #[span.light &nbsp App Credit]
      .content.light &nbsp ${{booking.next_payment.credit}}
    .flex-row(ng-if='booking.next_payment.credit')
      .label #[span.bold &nbsp Total]
      .content.bold &nbsp ${{booking.next_payment.amount}}

