.booking-content
  .content-wording
    section
      .bold RENTAL IN PROGRESS...
    section
      .tiny.warning If you have any trouble with your car, please contact IdleCars
    section
      a.bold.ic-blue(href='tel:1-844-4353227') 1 (844) IDLE-CARS

  car-image(car='booking.car')

  .content-wording
    section
      car-features
    section
      booking-date
    hr
    .flex-row.bold(ng-if='!booking.next_payment.credit')
      .label Next Payment
      .content ${{booking.next_payment.amount}} #[span.light &nbspon {{booking.next_payment.start_time}}]

    div(ng-if='booking.next_payment.credit')
      .flex-row.bold
        .label Next Payment
        .content {{booking.next_payment.start_time}}
      .flex-row
        .label &nbsp Rent
        .content &nbsp ${{booking.next_payment.amount + booking.next_payment.credit}}
      .flex-row
        .label &nbsp App Credit
        .content &nbsp ${{booking.next_payment.credit}}
      .flex-row.bold
        .label &nbsp Total
        .content &nbsp ${{booking.next_payment.amount}}

    .tiny
      | When it's time to return the car, tap here to arrange dropoff, and let us know
      |  the car is returned, so we can refund your deposit.
    button.button(ui-sref='.return') Arrange to return your car

