.modal-background(id='popup-modal')
  .modal-container
    .popup-container
      .title Confirm Cancel
      .sub-title Are you sure you want to cancel this booking?

      button.button(id='cancel-button') No, keep this booking
      button.button.confirm(id='confirm-button') Yes, cancel this booking
