.tutorial-wrapper(ng-if='tutorialOn')
  .tutorial-container
    slick(dots='true', arrows='{{!isMobile}}', infinite='false')
      div
        .tutorial-content
          .flex-cell
            img(src='/assets/images/tutorial/tutorial1.png')
            h3 Pick A Car. Any Car.
            p.
              Find the car that fits your style #[br]
              and budget.

      div
        .tutorial-content
          .flex-cell
            img(src='/assets/images/tutorial/tutorial2.png')
            h3 Create Your Account.
            p.
              Using your smartphone, take clear #[br]
              pictures of your #[br]
            ul.docs-list
              li Valid drivers license
              li Hack license
              li MVR (if you have one)

      div
        .tutorial-content
          .flex-cell
            img(src='/assets/images/tutorial/tutorial4.png')
            h3 DRIVE.
            p.
              The owner will add you to the car. #[br]
              You will be contacted when you can start driving. #[br]
              #[br]
              That’s it!
            section
              button.white-button(ng-click="closeTutorial()") FIND YOUR CAR

      button.circle-button(ng-click="closeTutorial()")
