h1(hidden) Rent cars for rideshare

.no-results(ng-if="listings.length === 0")
  h3 No Matching Cars
  p Try a different search

.listing-wrapper(save-scroll)

  a.car(ng-repeat="car in listings", ui-sref=".detail({carId: car.id, car: car})")
    car-image(car='car')
    .info
      h3 {{car.name}}
      p.ic-blue.bold(ng-if='car.shift.split_shift') {{car.shift.description}}
      p {{car.deposit}} deposit ∙ {{car.listing_features}}

ui-view
tutorial
